PORT=3000
NODE_ENV=development

DB_URL=mongodb+srv://karusandipan_db_user:dmknhLIH4IVTPucD@cluster0.yrhwziu.mongodb.net/interviwe_db?
appName=Cluster0

INNGEST_EVENT_KEY=BhgIudD1mDZ-50fagry0aG1-ReDLgyt1xV15eOGMlfHQJYbCGnAuabJJYKBA08Jb3_eppl8wMMkae1ONI9D_-Q
INNGEST_SIGNING_KEY=signkey-prod-3d454bbca0424ff434fde7443e38238bc67a8d327fb14cca281731c030b6588f

STREAM_API_KEY=tzgarbtunfj3
STREAM_API_SECRET=3gtrwwfdn686az5w5qd8an3u2q9a9fmr5qa28bszuh6av5k85ay43zm7kvwqp7pt

CLERK_PUBLISHABLE_KEY=pk_test_dG9waWNhbC1oYWdmaXNoLTUyLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_IBDRIdtNATkxyTgQU30egNkgUlYTO2aigeNCGw2MSz

CLIENT_URL=http://localhost:5173